type project

description
  For using Gu.Wpf.ModernUI with Ninject

tags wpf xaml
projectUrl https://github.com/JohanLarsson/Gu.Wpf.ModernUI
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  WpfAnalyzers