source http://www.nuget.org/api/v2/
framework: >= net45
nuget Ninject
nuget JetBrains.Annotations
nuget StyleCop.Analyzers

group Test
source http://www.nuget.org/api/v2/
  nuget NUnit
  nuget TestStack.White.Uia3 prerelease
  nuget Moq
  nuget NUnit