type project

description
  A fork of Firstfloor.ModernUI

tags wpf xaml spa styles
projectUrl https://github.com/JohanLarsson/Gu.Wpf.ModernUI
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Analyzers